.card-container{

    padding: 1rem;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 1rem;
  
}
.cards{
    width: 15rem;
    height: 15rem;
    background-color: aqua;
    flex: 1 1 ;
}