.container-main{
    display: flex;
    flex-direction: column;
   width: 100%;
    /* height: 100vh; */
}
Nav{
    flex: 1;
}
.main-cnt{
    display: flex;
    flex: 1;
}

Aside{
    width: 10rem;
}
Card{
    flex:1;
}
